@page "/d_385_274_920"
@rendermode InteractiveServer

<PageTitle>TerbinUI</PageTitle>

<h1>*Depuracion y Pruebas</h1>
<hr />

<div class="m-1">
    <h3><T Key="0" />:</h3>
    <p>Lorem Ipsum</p>
    <p>Lorem Ipsum</p>
</div>
<hr />

<div class="m-1">
    <h3>*Servicios</h3>
    <p id="salidaServicio">*salidaServicio</p>
</div>
<hr />

@code
{

}
