@page "/instancias"
@rendermode InteractiveServer

<PageTitle>TerbinUI - <T Key="7" /></PageTitle>

<div class="m-1">
    <h3><T Key="3" />:</h3>
    <p>Lorem Ipsum</p>
    <p>Lorem Ipsum</p>
</div>
<hr />


@code
{

}
