@page "/mods"
@rendermode InteractiveServer

<PageTitle>TerbinUI - <T Key="3" /></PageTitle>

<div class="m-1">
    <h3><T Key="14" />:</h3>
    <p>Lorem Ipsum</p>
    <p>Lorem Ipsum</p>
</div>
<hr />

<div class="m-1">
    <h3><T Key="13" />:</h3>
    <input type="file" />
</div>
<hr />

@code
{
    
}
